h2 {
    font-size: 50px;
    font-style: normal;
    text-shadow: 2px 2px floralwhite;
}

p{
    font-size: 30px;
    font-style: oblique;

}

body{

      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: rgb(30, 206, 255);
}

/* .imageOfDogs{

    height: auto;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .navbar {

    overflow: hidden;
    background-color: black;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: floralwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


 .header {
    background: linear-gradient(0deg, rgb(38, 83, 96) 0%, rgba(30, 206, 255) 100%);
    text-align: center;

    font-size: 50px;
        font-style: normal;
        text-shadow: 2px 2px floralwhite;
    margin: 0;
    margin-bottom: 32px;
    padding: 16px 0;

  }

   h1 {

       font-size: 50px;
       font-style: normal;
       text-shadow: 2px 2px floralwhite;
        text-align: center;
      }
      .breed-list {
        list-style: none;
        padding: 0;
      }
      .breed-item {
        cursor: pointer;
        margin-bottom: 10px;
      }
      .breed-item:hover {
        text-decoration: underline;
      }
      .breed-details {
        display: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin-top: 10px;
      }
      .breed-image {
        max-width: 300px;
        margin-bottom: 10px;
      }

     .temperament-buttons,
         .traits-buttons {
           margin-bottom: 20px;
         }
         .temperament-buttons button,
         .traits-buttons button {
           margin-right: 5px;
         }
         .dog-list {
           list-style: none;
           padding: 0;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
     }

